.wrapper {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-direction: column;
	height: 100%;
	width: 100%;
}

.action {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 3rem;
	padding: 1.5rem 1rem;
	border: 1px solid var(--bgColor);
	background-color: var(--activeLink);
	color: var(--contrast);
	box-shadow: 1px 2px 3px var(--bgColor);
	border-radius: 10px;
	min-width: 200px;
}

.insert {
	width: 50%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.insertButton {
	font-size: 2rem;
	padding: 1rem;
	color: var(--activeLink);
	background-color: var(--contrast);
	box-shadow: 1px 2px 3px var(--bgColor);
	border: 1px solid var(--activeLink);
	border-radius: 10px;
}

.insertButton:hover {
	cursor: pointer;
}

.todayRecords {
	width: 30%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: flex-start;
	background-color: var(--contrast);
	border: 1px solid var(--bgColor);
	border-radius: 10px;
	padding: 2%;
}

.dayRecord {
	text-align: center;
	width: 50%;
}

@media (max-width: 768px) {
	.todayRecords {
		width: 80%;
	}

	.insert {
		width: 100%;
	}
}
